<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/general/general.css" />
    <link rel="stylesheet" href="/styles/general/header.css" />
    <link rel="stylesheet" href="/styles/article/article.css" />
    <link rel="stylesheet" href="https://github.githubassets.com/assets/gist-embed-51d58df8adad.css">
    <title>Freddie Swift</title>
  </head>
  <body>
    {{>header}}
    <section class="article-section">
      <div class="container article" id="article">
      </div>
    </section>
  
  </body>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script
    src="../js/getBlogContent.js"
    id="getBlogContent"
    slug="{{slug}}"
  ></script>
</html>