<header class="header">
  <div class="header-content">
    <nav class="main-nav">
      <ul class="nav-links">
        <li>
          <a href="/" class="nav-link">About Me</a>
        </li>
        <li><a href="/projects" class="nav-link">Projects</a></li>
        <li><a href="/blog" class="nav-link">Blog</a></li>
        <li>
          <a href="#contact-me-section" class="btn">Contact Me</a>
        </li>
      </ul>
    </nav>
  </div>
</header>