* {
  background-color: #e6f2fa;
}

.article {
  padding-top: 8rem;
  padding-bottom: 8rem;
  max-width: 100rem;
}

.article-title {
  font-size: 5.2rem;
  padding-bottom: 3rem;
}

.article-desc {
  font-size: 3rem;
  padding-bottom: 6.4rem;
}

.article-content {
  font-size: 2rem;
}

.article-content > h1 {
  font-size: 4rem;
}

.gist {
  margin-top: 3.2rem;
  max-width: 75rem;
  margin: 3.2rem auto;
}
